server:
  port: 8383

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/microservicios #jdbc:mysql://microservicios.c7siygqi0v5r.us-east-2.rds.amazonaws.com:3306/microservicios?createDatabaseIfNotExist=true
    username: root
    password: #irvingaws2026
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect